<div class="container">
<div class="text-center" style="margin-top: 20px;margin-bottom: 10px">
    <a href="./groups/new" class="btn btn-primary" role="button" aria-disabled="true">Create a new group</a>
</div>
    {{#each groups}}
        <div class="card" style="padding: 20px;margin-top: 10px">
        {{> groupPartial}}
    <div class="d-flex flex-row align-items-start">
        <a class="btn btn-primary" href="/site/auth/groups/{{id}}" role="button">Group Details</a>
        <div class="p-2"></div>
        <form method="post" action="/site/auth/groups/{{id}}/del">
            <button type="submit" class="btn btn-danger">Delete Group</button>
        </form>
    </div>
    </div>
    {{/each}}
</div>

