<form action={{action}} method="post">
    <p >
        Group Name:
            <input type="text" name="name" value="{{group.name}}" required>
    </p>
       Group Description:
    <p>
        <textarea name="description" cols="50">
         {{group.description}}
        </textarea>

    </p>
    <input type="submit" value={{buttonText}}>
</form>