<form action="/site/movies" method="get">
    <p>
        Movie Name: <input type="text" name="title" value="">
    </p>
    <p>
        Limit: <input type="number" name="limit">
    </p>
    <button class="btn-info" type="submit">search</button>
</form>


